<div class="container py-4">
    <div  class="d-flex justify-content-start ">
        <div>
            <span class="fw-bold fs-2">This First Heading</span> <span class="text-secondary fw-bold fs-2"> Will Catch Your Eye</span>
            <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesente commodo cursus magna, vel scelerisque nils consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <img class="rounded-circle ms-3 w-25" src="./assets/img/1.jpg" alt="img1">
    </div>
</div>
