<div class="container py-4">
    <div class="d-flex flex-column flex-md-row align-items-center justify-content-start">
        <div class="text-center text-md-start mb-3 mb-md-0">
            <span class="fw-bold fs-3 fs-md-2">This First Heading</span>
            <span class="text-secondary fw-bold fs-3 fs-md-2"> Will Catch Your Eye</span>
            <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesente commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <img class="rounded-circle ms-md-3 w-25 w-md-25" src="./assets/img/1.jpg" alt="img1">
    </div>
</div>

