<div class="container py-5">
    <div class="d-flex flex-column flex-md-row align-items-center justify-content-start">
        <img class="rounded-circle mb-3 mb-md-0 me-md-3 w-25 w-md-25" src="./assets/img/2.jpg" alt="img2">
        <div class="text-center text-md-start">
            <span class="fw-bold fs-3 fs-md-2">The Second Heading</span> 
            <span class="text-secondary fw-bold fs-3 fs-md-2"> is Pretty Cool Too.</span>
            <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesente commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
    </div>
</div>
