<div class="container py-5">
    <div  class="d-flex justify-content-start ">
        <img class="rounded-circle ms-3 w-25" src="./assets/img/2.jpg" alt="img2">
        <div>
            <span class="fw-bold fs-2">The Second Heading</span> <span class="text-secondary fw-bold fs-2"> is Pretty Cool Too.</span>
            <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesente commodo cursus magna, vel scelerisque nils consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
    </div>
</div>
